---
import Blogpostlayout from "../../../layouts/blogpostlayout.astro"
import Header from "../../../components/header.astro"
---
<Header />
<Blogpostlayout title="Podcasts">
<h3 style="margin-top: 0;">What I've been listening to as of late.</h3>
    <li><a href="https://open.spotify.com/episode/4dKLxxJtrftVZvMqr15IQY?si=hYmRP0TwS76zCDAbSgvI-g" target="_blank">
		    [ThePrimeagen: Programming, AI, ADHD, Productivity, Addiction, and God]</a>
	    - Lex Fridman Podcast: Goes through the life of ThePrimeagen, his struggles, early life, and career at Netflix. Episode covers topics like addiction, trauma, faith life, and neovim.
    </li>

    <li><a href="https://open.spotify.com/episode/5lNlCvQ3dHrGr9Aphr2wE1?si=y6wud99aRgKRUJHsrmpH4w" target="_blank">
        [Optimal Protocols for Studying & Learning]</a>
        - Huberman Lab: Goes over research-based methods to better retain information, such as testing
        as a form of studying, and touches on topics like meditation and NSDR. Goes in depth on the neurological processes underlying learning and memory.
    </li>
    <p></p>
    <li><a href="https://open.spotify.com/episode/300kkh9iwQDCbKUTvhhFPg?si=F3cmHYEpQTCcfTjIqKchsg" target="_blank">
        [The Bizarre "Disappearance" of the Sodder Children]</a>
        - Wendigoon: Discusses the disturbing disappearance of the 5 Sodder children, none over the age of 14, on Christmas Eve 1945.
    </li>
    <p></p>
    <li><a href="https://open.spotify.com/episode/3InRlMVYly9HEbcw6TRmbS?si=jJzhqnsnSwKtt-CtJsEUdQ&context=spotify%3Aplaylist%3A37i9dQZF1FgnTBfUlzkeKt" target="_blank">
        [I Thought I was Broken - I Just Had the Wrong Words|Alex Hormozi]</a>
	    - Jack Neel Podcast: Alex Hormozi views the world through a behavioralist lens, manipulating his own behavior to boost output. He explains that our actions are shaped by past rewards, and burnout stems not from workload alone but from those rewards losing impact. He also stresses that any emotional drive can fuel productivity—as long as it leads to action.
    </li>
</Blogpostlayout>

<style>
    h3 {
        color: #a1a09f;
    }
    a {
        color: #b1a9fc;
    }
</style>
