
---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About Me";
const identity = {
	firstName: "Ron",
	country: "United States",
	occupation: "Electrical and Computer Engineering Student",
	hobbies: ["lifting weights", "running", "Neovim"],
}

const skills = ["Rust", "Python", "Writing"]
const skillColor = "#8aa1d1";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
		      h1 {
			color: #faead9;
			font-size: 4rem;
		      }
		      .skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		      }
		</style>
	</head>
	<body>
		<Header />
		<h1 style="margin-bottom: 0">{pageTitle}</h1>
		<h2 style="margin-top: 0">... and this new Astro site</h2>
		<img src="https://img.wattpad.com/5b500ea20ddf0b0dd9145a5338485d64d82736b4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f6b457941577971787a33504d61513d3d2d3731392e313639326238353430393261326164653438383333393730383033342e676966">
		<p>Currently I'm...</p>
		<ul>
			<li>A First-year ECE student @ NC State</li>
			<li>Working with Python, Rust, Javascript, and Lua</li>
			<li>Experimenting witih new developer tools</li>
			<li>Getting back into meditation</li>
		</ul>
		<p>You can find me on:</p>
		<li><a href="https://www.github.com/Ronxvier" target="_blank">[Github]</a></li>
		<li><a href="https://www.linkedin.com/in/ronel-xavier-a0a574178/"target="_blank">[LinkedIn]</a></li>
		<li><a href="https://www.medium.com/@ronxvier"target="_blank">[Medium]</a></li>
		<li><a href="https://strava.app.link/CJsXBgVKmVb"target="_blank">[Strava]</a></li>
		<li><a href="https://www.instagram.com/ronxvier"target="_blank">[Instagram]</a></li>
		<li><a href="https://ultrarunning.com/calendar/runner/view/Ronel-Xavier-23be9a98-fab8-11ef-beeb-8e80a249bae3"target="_blank">[Ultra Running Magazine]</a></li>
	</body>
</html>


	<style>
			a:link {
		  color: #A28D9E;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:visited {
		  color: #CBBACD;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:hover,
		a:focus {
		  color: #D5C4D6;
		  text-decoration: underline;
		}
	</style>
