
---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
const pageTitle = "About";
const identity = {
	firstName: "Ron",
	country: "United States",
	occupation: "Electrical and Computer Engineering Student",
	hobbies: ["lifting weights", "running", "Neovim"],
}

const skills = ["Rust", "Python", "Writing"]
const skillColor = "#8aa1d1";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<h1 style="margin-bottom:0">{pageTitle}</h1>
		<h3 style="margin-bottom:0">Overview</h3>
		<ul>
		  <p>
		  I'm a first-year Electrical and Computer Engineering student at NC State with a focus on systems-level programming, developer tools, and web programming. As of right now I'm doing most of my work in Rust, Python, JavaScript, and Lua, and I'm working on improving my skills in these technologies along with learning frameworks like React.
		  </p>
		  <p>
		    Right now, I'm building personal developer tools and web apps. I'm enjoying experimenting with new frameworks and pushing my own understanding of how things work under the hood. Outside of code, I'm revisiting meditation and endurance running.
		  </p>	  
		</ul>
		<p></p>
		<h3>You can find me on:</h3>
		<li><a href="https://www.github.com/Ronxvier" target="_blank">[Github]</a></li>
		<li><a href="https://www.linkedin.com/in/ronel-xavier-a0a574178/"target="_blank">[LinkedIn]</a></li>
		<li><a href="https://www.medium.com/@ronxvier"target="_blank">[Medium]</a></li>
		<li><a href="https://strava.app.link/CJsXBgVKmVb"target="_blank">[Strava]</a></li>
		<li><a href="https://www.instagram.com/ronxvier"target="_blank">[Instagram]</a></li>
		<li><a href="https://ultrarunning.com/calendar/runner/view/Ronel-Xavier-23be9a98-fab8-11ef-beeb-8e80a249bae3"target="_blank">[Ultra Running Magazine]</a></li>
	</body>

</html>


	<style>
			a:link {
		  color: #A28D9E;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:visited {
		  color: #CBBACD;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:hover,
		a:focus {
		  color: #D5C4D6;
		  text-decoration: underline;
		}
	</style>
