---
import '../styles/global.css';
import Header from '../components/header.astro';
const {pageTitle} = "Projects";
---
<style>
			a:link {
		  color: #899fe8;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:visited {
		  color: #899fe8;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:hover,
		a:focus {
		  color: #7d93db;
		  text-decoration: underline;
		}
</style>

<html lang=en>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>
	<Header />
		<h1>Projects</h1>
		<li><a href="https://github.com/Ronxvier/VimMotions" target="_blank">[VimMotions]</a>: Chrome Extension that allows for Vim-style keybindings for efficient text navigation and editing in browser inputs, with 950+ installs on the Chrome Webstore.</li>
		<p></p>
		<li><a href="https://github.com/Ronxvier/Algorithms" target="_blank">[Algorithms]</a>: Implementations, notes, and documentation of Data Structures and Algorithms covered by Robert Sedgewick's Algorithms 1 course, all written in Java.</li>
		<p></p>
        <li><a href="https://github.com/Ronxvier/Interpreters" target="_blank">[Interpreters]</a>: Notes and interpreter implementations following Robert Nystrom’s Crafting Interpreters, written in Java.</li>
		<p></p>
        <li><a href="https://www.medium.com/@ronxvier" target="_blank">[Medium]</a>: I write articles about computer stuff.</li>
		<p></p>
		<li><a href="https://github.com/Ronxvier/Shali" target="_blank">[Shali]</a>: CLI notes app with AES-GCM-SIV encryption, built in Rust.</li>
		<p></p>
		<li><a href="https://github.com/Ronxvier/ymir.nvim" target="_blank">[ymir.nvim]</a>: A snowy mountain sunset theme for Neovim.</li>
		<p></p>
    <li><a href="https://github.com/Ronxvier/dent.nvim" target="_blank">[dent.nvim]</a>: Small indentation helper for Neovim.</li>
    <p></p>
    <li><a href="https://github.com/Ronxvier/mocha.nvim" target="_blank">[mocha.nvim]</a>: Java quality of life changes for Neovim.</li>
    <p></p>
    <li><a href="https://github.com/Ronxvier/flick" target="_blank">[flick]</a>: Lightweight AI-powered terminal assistant for natural language project scaffolding and coding, created before the release of gemini-cli.</li>
    <p></p>
    <li><a href="https://github.com/Ronxvier/MiloCam" target="_blank">[MiloCam]</a>: facebook/detr-resnet-50 powered Schnawg-Cam.</li>
    <p></p>
    <li><b>NCSU Grand Challenges</b>: Proposed a plan for a community-led urban infrastructure reporting app, winning first place in the NC State's Grand Challenges of Engineering Poster competition.</li>
		<p>Find more projects on Github!</p>
</html>
