---
import '../styles/global.css';
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
const {pageTitle} = "Projects";
---
<style>
			a:link {
		  color: #CBBACD;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:visited {
		  color: #CBBACD;
		  font-family: 'JetBrains Mono', monospace;
		  font-weight: 600;
		  text-decoration: none;
		}

		a:hover,
		a:focus {
		  color: #D5C4D6;
		  text-decoration: underline;
		}
</style>

<html lang=en>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{pageTitle}</title>
	<Header />
		<h1>Projects</h1>
		<li><a href="https://github.com/Ronxvier/VimMotions" target="_blank">[VimMotions]</a>: Chrome Extension that allows for Vim-style keybindings for efficient text navigation and editing in browser inputs.</li>
		<p></p>
		<li><a href="https://github.com/Ronxvier/Shali" target="_blank">[Shali]</a>: Local-first CLI note app with AES-GCM-SIV encryption, built in Rust. Write notes in Vim, encrypt the entire directory, and keep your thoughts completely offline.</li>
		<p></p>
		<li><a href="https://github.com/Ronxvier/ymir.nvim" target="_blank">[ymir.nvim]</a>: A snowy mountain sunset theme for a better looking Neovim config.</li>
		<p></p>
    <li><a href="https://github.com/Ronxvier/MiloCam" target="_blank">[MiloCam]</a>: Glorified nanny-cam that uses facebook/detr-resnet-50 from Hugging Face to detect my dog (Milo) via webcam and sends me a Discord message when he's at the back door.</li>
    <p></p>
    <li><a href="https://github.com/Ronxvier/dent.nvim" target="_blank">[dent.nvim]</a> Minimal Neovim plugin for setting shiftwidth and tabstop by filetype or manual command. Just a few lines packaged for reuse.
</li>
		<p>There are some more projects on Github, but they didn't quite make the cut.</p>
	<Footer />
</html>
