---
import Social from '../components/Social.astro'
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
  a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background-color:#2F2F2F;
    text-decoration: none;
  }
</style>

<footer>
	<Social platform="github" username="Ronxvier "/>
	<Social platform="medium" username="@ronxvier"/>
	<Social platform="instagram" username="ronxvier"/>
	<a href={`https://strava.app.link/CJsXBgVKmVb`}target="_blank">strava</a>
</footer>

