---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    background-color:#2F2F2F;
    transition: background 0.4s ease-in-out, color 0.4s;
    text-decoration: none;
  }
  a:hover {
  background-color: #545454;
  transform: scale(1.1);
  }
</style>
