---
import '../../styles/global.css';
import Header from '../../components/header.astro';
import Footer from '../../components/Footer.astro';
import milocamchat from '../../assets/milocamchat.jpg';
import milocamlog from '../../assets/milocamlog.png';

const pageTitle = "VimMotions";
---

<style>
  a:link,
  a:visited {
    color: #CBBACD;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #D5C4D6;
    text-decoration: underline;
  }
</style>

<Header />

<h1>MiloCam</h1>

<p>
  <a href="https://github.com/RonelXavier/MiloCam">[MiloCam]</a> is a super small Machine Learning project that I started to make watching the dog (Milo) easier. Milo can be super quiet which makes knowing when he needs to go out near impossible sometimes, so I thought a system that could detect Milo and notify me when he needs attention would be a game changer.
</p>

<img src={milocamlog.src} style="width: 700px; height: auto;" alt="MiloCam Log" />

<p>
  This was my first time experimenting with computer vision and open source detection models, so I started this project off small. I picked the <a href="https://huggingface.co/facebook/detr-resnet-50">facebook/detr-resnet-50</a> model for its ease of use, and the discord.py library to send notifications whenever the model detected a dog with over 90% confidence. I've actually made a discord bot in the past to serve as a coding assistant, so this part of the project was fairly straightforward.
</p>

<img src={milocamchat.src} style="width: 500px; height: auto;" alt="MiloCam Chat" />

<Footer />

