---
import Header from '../components/header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "Blog Post";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <h1>{title}</h1>
    <article>
      <slot />
    </article>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
